/* 全局样式 */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

h3 {
  color:#107D7D;
}

h4 {
  color:#EE7942;
}

.numbers {
  color:#CD0000;
  font-weight:bold;
  font-size:14pt;
}

.highlight_conent {
  color:#008B00;
  font-weight:bold;
  margin-top:1px;
  padding-top:1px
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

/* 头部 */
#nameheader {
  background-color:	#2E8B57;
  margin:0 0 0 0;
  padding:20px 0 20px 0;
  text-align:center;
}

#titlename {
  font-size:25pt;
  color:#fff;
  vertical-align: middle;
}


header {
	background-color: #CFCFCF;
	padding: 5px 0;
}

header h1 {
	font-size: 2em;
	margin: 0;
}

header nav {
	margin-top: 5px;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

header nav li {
	margin-right: 20px;
	margin-bottom: 5px;
	color:#008B8B;
}

header nav li:last-child {
	margin-right: 0;
}

header nav a {
	color:#000;
	font-weight:bold;
	text-decoration:none
}

header nav a:hover {
	color: #666;
}

/* 主体部分 */

main {
	padding: 50px 0;
}

section {
	margin-bottom: 50px;
}

section h2 {
	font-size: 1.5em;
	margin: 0 0 20px 0;
}

section p {
	line-height: 1.5;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #666;
}

/* 页脚 */

footer {
	background-color: #f9f9f9;
	padding: 20px 0;
}

footer p {
	margin: 0;
	text-align: center;
	font-size: 0.8em;
	color: #999;
}

.altmetric {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px
}
.dimensions {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px
}

