body{
  font-family:arial;
  background-color:#BCD2EE;
}

h3{
  padding-bottom:10px;
}

.forepanel{
  margin:0 auto;
  width:750px; 
  height:450px;
  margin-bottom:20px;
}

.blue{
  color:#104E8B;
  text-align:left;
}

.header{
  height:50px;
  text-align:left;
}

.info{
  height:350px;
  text-align:center;
  background-color:#EBEBEB;
  border-radius: 15px;
}

.links{
  margin:0 auto;
  width:500px;
  text-align:left;
}

#table_info{
  
  margin:0 auto;
}

#table_info td{
  height:30px;
  margin:0 auto;
  padding-left:30px;
  text-align:left;
  font-size:16pt;
}

#table_info tr{
  height:80px;
  margin:0 auto;
  text-align:left;
}
