//- Preloader
	@param {object} data - preloader data object
mixin preloader( data )
	// Preloader
	.preloader
		.preloader-inner
			.preloader-circle
				.preloader-line-mask.one
					.preloader-line
				.preloader-line-mask.two
					.preloader-line
				.preloader-line-mask.three
					.preloader-line
				.preloader-line-mask.four
					.preloader-line
