// Intro
section.section.section-md.bg-transparent( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-4' } )
	.container
		.row.row-30.align-items-center.justify-content-center
			.col-xs-10.col-sm-7.d-none.d-sm-block
				+img( 'image-05-730x730' )
			.col-xs-10.col-sm-5
				h6 Why choose OpenWeb
				h1 Advantages of our event
				ul.list.list-marked-arrow
					li.list-item Interdum laoreet
					li.list-item Scelerisque eros
					li.list-item Aliquam
					li.list-item Interdum laoreet
					li.list-item Scelerisque eros
