// Intro video
section.section.section-md.bg-gray-custom.context-dark( data-preset!={ title:'Intro', category:'content box, media', reload:true, id:'intro-9' } )
	.container
		.row
			.col-md-10.col-xl-9
				h1 Leading Web Industry Conference Book your Seat Now
				h3 Our event is an annual non-profit community conference to share experiences, ideas and approaches between UX/UI designers and web developers.
				ul.list.list-xs
					li.text-contrast.font-weight-normal Conference — October 22
					li.text-contrast.font-weight-normal Workshops — October 23
				.offset-xs
					a.btn.btn-lg.btn-rect.btn-dark( href='tickets.html' ) Get tickets