// Intro
section.section.section-md.bg-transparent( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-4' } )
	.container
		.row.row-30.align-items-center.justify-content-center
			.col-xs-10.col-sm-5
				h6 A Few Words About Us
				h1 Leading IT industry event
				p Founded in 1999, OpenWeb Conference is a place where innovative minds meet.
			.col-xs-10.col-sm-7
				+img( 'image-04-730x730' )
