// Intro
section.section.section-lg.d-flex.align-items-center.min-vh-100.novi-background( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-8' } )
	.container
		.bg-image.py-5.px-3.px-md-0.novi-background( style='background-image: url(images/image-01-1280x500.png)' )
			.row.novi-disabled
				.col-md-9.col-lg-7.col-xl-6
					h3( data-animate!={ class: 'fadeInUp' } ) October 22-23, 2020
					h1( data-animate!={ class: 'fadeInUp', delay: '0.15s' } ) OpenWeb Design Conference
					p( data-animate!={ class: 'fadeInUp', delay: '0.3s' } ): span.d-inline-block( style='max-width:460px' ) Join one of the leading web design & development conferences in the world.
					.offset-md( data-animate!={ class: 'fadeInUp', delay: '0.45s' } )
						a.btn.btn-lg.btn-rect.btn-dark( href='tickets.html' ) Get tickets
