include ../content-row/_content-row

// Workshops
section.section.section-xl.bg-transparent.novi-background( data-preset!={ title:'Workshops', category:'content box', reload:false, id:'workshops' } )
	include ../section/_shedule-content