.container.content-row-area
	h1.text-center.text-md-left( data-animate!={ class: 'fadeInUp' } ) Schedule details
	p.text-center.text-md-left( style='max-width: 680px', data-animate!={ class: 'fadeInUp' } ): span.h6
			| Hands-on sessions with OpenWeb Conference experts, which are hosted in
			br
			| LA Business Hall on November 22 (9am - 5pm).
			br
			| Tickets can be purchased separately below.
	+content-row-3({
		img: 'image-icon-01-180x180',
		imgClass: 'content-row-img-shadow',
		time: '9:00 - 10:00',
		title: 'Registration',
		text: 'After you arrive at OpenWeb Conference, the first thing to do is to register. It is simple and requires only your basic data, such as name, surname, and the company if you represent one.'
	}).content-row-max-width( data-animate!={ class: 'fadeInUp' } )
	+content-row-3({
		img: 'person-02-180x180',
		time: '9:00 - 10:00',
		title: 'Quality control in IT industry',
		text: 'The first part of our event is held by Edward Rivera who will speak about quality control in IT industry. You’ll find more interesting facts about the role of this procedure in modern web development and design.'
	}).content-row-max-width( data-animate!={ class: 'fadeInUp' } )
	+content-row-3({
		img: 'person-01-180x180',
		time: '12:00 – 13:30',
		title: 'Facilitation of product interface development',
		text: 'Next workshop by Mark Rogers will describe some simple facilitation methods used in UX design to create definition, expedite the design process and create transparency in any design project.'
	}).content-row-max-width( data-animate!={ class: 'fadeInUp' } )
	+content-row-3({
		img: 'image-icon-02-180x180',
		imgClass: 'content-row-img-shadow',
		time: '13:30 – 14:00',
		title: 'Coffee break',
		text: 'Before proceeding to the second part of the conference, you can take part in a coffee break. Feel free to talk to speakers, event participants, and visitors in a relaxed atmosphere.'
	}).content-row-max-width( data-animate!={ class: 'fadeInUp' } )
	+content-row-3({
		img: 'person-05-180x180',
		time: '14:00 – 15:30',
		title: 'New technologies in web design',
		text: 'Jean Hall, an acknowledged UI design innovator, will show and talk about new technologies, tips, and tricks to which modern designers should pay attention in order to become more productive and creative.'
	}).content-row-max-width( data-animate!={ class: 'fadeInUp' } )
	+content-row-3({
		img: 'person-04-180x180',
		time: '15:30 – 17:30',
		title: 'Web project management',
		text: 'Proper project management is of vital importance in any business sphere. Web design is of no exception. Daniel Reed will tell you how to use modern management techniques to succeed.'
	}).content-row-max-width( data-animate!={ class: 'fadeInUp' } )
	+content-row-3({
		img: 'image-icon-03-180x180',
		imgClass: 'content-row-img-shadow',
		time: '17:30 – 20:30',
		title: 'Cocktail break',
		text: 'A long and interesting day at OpenWeb conference calls for some pause and relaxation. We are glad to offer a cocktail break and additional time for talking to your favorite speakers before the conference ends.'
	}).content-row-max-width( data-animate!={ class: 'fadeInUp' } )
