h6.blog-article-subtitle Leave a comment
p.small Your email address will not be published. Required fields are marked *

form
	.form-group
		label( for='input-comment' ) Comment *
		.position-relative
			textarea.form-control.textarea-1( id='input-comment', name='comment', placeholder='Say something nice...', data-constraints='@Required' )
	.form-group
		label( for='input-name' ) Name:
		.position-relative
			input.form-control( id='input-name', type='text', name='name', placeholder='Your name', data-constraints='@Required' )
	.form-group
		label( for='input-email' ) E-mail:
		.position-relative
			input.form-control( id='input-email', type='email', name='email', placeholder='Your e-mail address', data-constraints='@Email @Required' )
	button.btn.btn-lg.btn-rect.btn-dark( type='submit' ) Submit
